<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snack.dao.GoodstypeMapper">
  <select id="selectAll" resultType="com.snack.bean.GoodsType">
    select * from goodstype
  </select>
  <!-- 参数传入格式： #{实体对象的属性名} -->
  <insert id="insert">
   	insert into goodstype values(null, #{tname} , #{status})
  </insert>
  
  <update id="update">
   	update goodstype set tname=#{tname} ,status=#{status}
   	where tno=#{tno}
  </update>
  
  <delete id="delete">
   	delete from goodstype where where tno=#{tno}
  </delete>
  
</mapper>